name: Linux2

on:
  issue_comment:
    types: [ created ]  # 监听 issue 评论创建事件

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: 打印issue评论信息
        run: |
          echo "issue number :${{ github.event.issue.number }}"
          echo "issue 作者 :${{ github.event.comment.user.login }}"

      - name: 过滤issue评论
        if: github.event.issue.number != 1 || github.event.comment.user.login != 'xia-chu'
        run: exit 1

      - name: 获取分支和ci名
        run: |
          #!/bin/bash
          set -x
          input_string="${{ github.event.comment.body }}"
          
          # Split into lines and trim each line
          IFS=' ' read -r -a lines <<< "$input_string"
          
          for (( i=0; i<${#lines[@]}; i++ )); do
            trimmed_line=$(echo "${lines[i]}" | sed -e 's/^[ \t]*//' -e 's/[ \t]*$//')
            lines[i]="$trimmed_line"
          done
          
          for (( i=0; i<${#lines[@]}; i++ )); do
            if [ "$i" -eq 0 ]; then
              echo "分支: ${lines[i]}"
              echo "BRANCH=${lines[i]}" >> $GITHUB_ENV
            elif [ "$i" -eq 1 ]; then
              echo "ci名: ${lines[i]}"
              if [ "${lines[i]}" != "${{ github.workflow }}" ]; then
                echo "ci不匹配"
                exit 1
              fi
            fi
          done

      - name: 下载源码
        uses: actions/checkout@v2
        with:
          repository: xia-chu/zlmediakit-promax
          fetch-depth: 1
          ref: ${{ env.BRANCH }}
          token: ${{ secrets.ACCESS_TOKEN }}
          path: .

      - name: 下载stdcpp
        uses: actions/checkout@v2
        with:
          repository: xia-chu/zlmediakit-pro
          fetch-depth: 1
          path: 3rdpart/stdcpp

      - name: 获取git hash
        run: |
          echo "HASH=$(git log -1 --format='%H')" >> $GITHUB_ENV

      - name: 下载submodule源码
        run: mv -f .gitmodules_github .gitmodules && git submodule sync && git submodule update --init

      - name: 下载nasm
        uses: actions/checkout@v2
        with:
          repository: netwide-assembler/nasm
          fetch-depth: 1
          ref: nasm-2.16
          path: 3rdpart/nasm

      - name: 下载git
        uses: actions/checkout@v2
        with:
          repository: git/git
          fetch-depth: 1
          ref: v2.7.5
          path: 3rdpart/git
          submodules: recursive

      - name: 下载vcpkg
        uses: actions/checkout@v2
        with:
          repository: microsoft/vcpkg
          fetch-depth: 1
          ref: b27f6bfad367d64f8f0f3296351c5d246e182bb4
          path: 3rdpart/vcpkg
          submodules: recursive

      - name: 启动 Docker 容器, 在Docker 容器中执行脚本
        run: |
          docker pull centos:7
          docker run -v $(pwd):/root -w /root --rm centos:7 sh -c "
            #!/bin/bash
            set -x
            ls -hl /root/3rdpart/stdcpp
          
            # Backup original CentOS-Base.repo file
            cp /etc/yum.repos.d/CentOS-Base.repo /etc/yum.repos.d/CentOS-Base.repo.backup
          
            # Define new repository configuration
            cat <<EOF > /etc/yum.repos.d/CentOS-Base.repo
          [base]
          name=CentOS-7 - Base - mirrors.aliyun.com
          baseurl=http://mirrors.aliyun.com/centos/7/os/x86_64/
          gpgcheck=1
          gpgkey=http://mirrors.aliyun.com/centos/RPM-GPG-KEY-CentOS-7
          
          [updates]
          name=CentOS-7 - Updates - mirrors.aliyun.com
          baseurl=http://mirrors.aliyun.com/centos/7/updates/x86_64/
          gpgcheck=1
          gpgkey=http://mirrors.aliyun.com/centos/RPM-GPG-KEY-CentOS-7
          EOF
            cat > /etc/yum.repos.d/epel-aliyun.repo <<EOF
          [epel]
          name=Extra Packages for Enterprise Linux 7 - x86_64
          baseurl=http://mirrors.aliyun.com/epel/7/x86_64/
          enabled=1
          gpgcheck=0
          EOF
            cat > /etc/yum.repos.d/CentOS-SCLo-aliyun.repo <<EOF
          [C7-SCLo-rh]
          name=CentOS-7 SCLo RH - x86_64
          baseurl=http://mirrors.aliyun.com/centos/7/sclo/x86_64/rh/
          enabled=1
          gpgcheck=0
          EOF
          
            # Clean yum cache and recreate it
            yum clean all
            yum makecache
          
            echo \"CentOS 7 软件源已成功切换\"
          
            mkdir -p /root/install
          
            yum install -y -q wget gcc gcc-c++ m4 perl-App-cpanminus make libtool-ltdl-devel help2man which curl zip unzip tar zlib-devel perl-Time-HiRes perl-Time-Piece perl-IPC-Cmd perl-CPAN openssl-devel libcurl-devel gettext-devel expat-devel pcre2-devel perl-ExtUtils-MakeMaker devtoolset-11 rh-python38 kernel-devel kernel-headers
            source /opt/rh/devtoolset-11/enable
            gcc --version
            source /opt/rh/rh-python38/enable
            python --version
          
            wget https://ftp.gnu.org/gnu/autoconf/autoconf-2.72.tar.gz > /dev/null 2>&1
            tar xf autoconf-2.72.tar.gz > /dev/null 2>&1
            cd autoconf-2.72
            ./configure --prefix=/usr > /dev/null 2>&1
            make -j$(nproc) > /dev/null 2>&1
            make install
            cd ..
          
            wget https://gnuftp.uib.no/help2man/help2man-1.48.3.tar.xz > /dev/null 2>&1
            tar xfv help2man-1.48.3.tar.xz > /dev/null 2>&1
            cd help2man-1.48.3
            ./configure --prefix=/usr > /dev/null 2>&1
            make -j$(nproc) > /dev/null 2>&1
            make install > /dev/null 2>&1
            cd ..
            cpanm --notest Thread::Queue > /dev/null 2>&1
            
            wget https://ftp.gnu.org/gnu/automake/automake-1.17.tar.gz > /dev/null 2>&1
            tar xf automake-1.17.tar.gz > /dev/null 2>&1
            cd automake-1.17
            ./configure --prefix=/usr > /dev/null 2>&1
            make -j$(nproc) install-exec > /dev/null 2>&1
            make install > /dev/null 2>&1
            cd ..
          
            wget https://ftp.gnu.org/gnu/libtool/libtool-2.4.7.tar.gz > /dev/null 2>&1
            tar xf libtool-2.4.7.tar.gz > /dev/null 2>&1
            cd libtool-2.4.7
            ./configure --prefix=/usr > /dev/null 2>&1
            make -j$(nproc) > /dev/null 2>&1
            make install > /dev/null 2>&1
            cd ..
          
            wget https://ftp.gnu.org/gnu/autoconf-archive/autoconf-archive-2024.10.16.tar.xz > /dev/null 2>&1
            tar xf autoconf-archive-2024.10.16.tar.xz > /dev/null 2>&1
            cd autoconf-archive-2024.10.16 
            ./configure --prefix=/usr/ > /dev/null 2>&1
            make -j$(nproc) > /dev/null 2>&1
            make install > /dev/null 2>&1
            cd ..

            aclocal --version
            autoconf --version
            automake --version
            libtoolize --version
            
            cd 3rdpart/git
            make configure > /dev/null 2>&1
            ./configure --prefix=/usr > /dev/null 2>&1
            make all -j $(nproc)  > /dev/null 2>&1
            make install > /dev/null 2>&1
            cd ../../
          
            cd 3rdpart/nasm
            ./autogen.sh > /dev/null 2>&1
            ./configure --prefix=/usr > /dev/null 2>&1
            make -j $(nproc) > /dev/null 2>&1
            make install > /dev/null 2>&1
            cd ../../
          
            wget -q https://github.com/Kitware/CMake/releases/download/v3.26.4/cmake-3.26.4-linux-x86_64.tar.gz  > /dev/null 2>&1
            tar -xzf cmake-3.26.4-linux-x86_64.tar.gz  > /dev/null 2>&1
            mv cmake-3.26.4-linux-x86_64 /usr/local/cmake-3.26.4
            ln -s /usr/local/cmake-3.26.4/bin/* /usr/local/bin/
          
            export CFLAGS="-fPIC"
            
            export LD_LIBRARY_PATH=/root/3rdpart/stdcpp/data/x86_64:$LD_LIBRARY_PATH

            cd 3rdpart/vcpkg
            ./bootstrap-vcpkg.sh
          
            VCPKG_BUILD_TYPE=release ./vcpkg install jemalloc openssl libsrtp\[openssl\] harfbuzz freetype fribidi fontconfig x264 x265 openh264 opus aws-crt-cpp ffmpeg\[ffmpeg,nonfree,x264,x265,opus,mp3lame,freetype,fribidi,fontconfig,drawtext,nvcodec,qsv,amf,aom,opencl,openh264,vpx,vulkan\] aws-sdk-cpp\[core,s3,transfer\] --triplet x64-linux-dynamic
            cd ../../

            mkdir -p build
            cd build
            cmake .. \
            -DCMAKE_BUILD_TYPE=Release \
            -DENABLE_WEBRTC=ON \
            -DENABLE_FFMPEG=ON \
            -DENABLE_TESTS=OFF \
            -DENABLE_API=OFF \
            -DVCPKG_TARGET_TRIPLET=x64-linux-dynamic \
            -DCMAKE_TOOLCHAIN_FILE=/root/3rdpart/vcpkg/scripts/buildsystems/vcpkg.cmake

            make -j $(nproc)

            cd ..
            rm -rf release/linux/Release/*.a
            mkdir -p release/linux/Release/lib
            cp -rfP /root/3rdpart/vcpkg/installed/x64-linux-dynamic/lib/* release/linux/Release/lib
            cp -rfP /root/3rdpart/vcpkg/installed/x64-linux-dynamic/tools/ffmpeg/* release/linux/Release

          "
      - name: 设置环境变量
        run: |
          echo "TAG=$(echo ${{ env.BRANCH }} | tr -s "/\?%*:|\"<>" "_")" >> $GITHUB_ENV  
          echo "DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
          echo "DATE2=$(date +%s)" >> $GITHUB_ENV
          tar -czf release.tar.gz -C release/linux .

      - name: 发布信息
        run: |
          release_info="- 分支: ${{ env.BRANCH }}\n"
          release_info+="- git hash: ${{ env.HASH }}\n"
          release_info+="- 编译日期: ${{ env.DATE }}\n"
          release_info+="- 编译记录: [${{ github.run_id }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})\n"
          release_info+="- 打包ci名: ${{ github.workflow }}\n"
          release_info+="- 开启特性: openssl/webrtc/datachannel/ffmpeg \n"
          release_info+="- 说明: 本二进制在centos7上编译，已开启硬件编解码\n"
          echo -e "$release_info" >> release.txt

      - name: 创建 Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          release_name: ${{ github.workflow }}_${{ env.TAG }}_${{ env.DATE }}
          draft: false
          tag_name:  ${{ github.workflow }}_${{ env.TAG }}_${{ env.DATE }}_${{ env.DATE2 }}
          commitish: e80e47883bf11da857746c86c99acb92e900b917
          prerelease: false
          owner: xia-chu
          body_path: release.txt
          repo: zlmediakit-pro

      - name: 上传文件到 Release
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: release.tar.gz
          asset_name: ${{ github.workflow }}_${{ env.TAG }}_${{ env.DATE }}.tar.gz
          asset_content_type: application/gzip

      - name: 输出发布的文件下载链接
        run: |
          echo "Release URL: ${{ steps.create_release.outputs.html_url }}"
